*.pt
runs/
KITTI*/
yolo_labels/
/week1/data/
/week1/DETR/detr_finetuned_kitti_mots/
/week1/DETR/kitti_mots_hf/
/week1/cpp/
/week1/DETR/detr_finetuned_kitti_mots-2/
/week1/DETR/checkpoints/
/week1/DETR/detr_finetuned_kitti_mots-bright/
/week1/DETR/detr_finetuned_kitti_mots-bright-good-1/
/week1/DETR/detr_finetuned_kitti_mots-horizon/
/week1/DETR/detr_finetuned_kitti_mots-horizon-good/
/week1/DETR/detr_finetuned_kitti_mots-horizon-good-1/
/week1/DETR/detr_finetuned_kitti_mots-noaug-2/
/week1/DETR/detr_finetuned_kitti_mots-noaug-good-1/
/week1/DETR/detr_finetuned_kitti_mots-withaug-2/
/week1/DETR/trainer_output/
/week1/DETR/detr_finetuned_kitti_mots-noaug-good-1/
BagImages/
/week2/Mask2Former/mask2former_kitti_finetuned_color_v2/
/week2/Mask2Former/mask2former_kitti_finetuned_color_v2_good_image/
/week2/Mask2Former/mask2former_kitti_finetuned_color_v2_good_loss/
/week2/Mask2Former/mask2former_kitti_finetuned_horizon_v2/
/week2/Mask2Former/mask2former_kitti_finetuned_horizon_v2_good_image/
/week2/Mask2Former/mask2former_kitti_finetuned_horizon_v2_good_loss/
/week2/Mask2Former/mask2former_kitti_finetuned_v2/
/week2/Mask2Former/mask2former_kitti_finetuned_v2_good_loss/
/week2/Mask2Former/color_1_loss.png
/week2/Mask2Former/color_1_loss.png
/week2/Mask2Former/color_2_loss.png
/week2/Mask2Former/color_3_loss.png
/week2/Mask2Former/color_bad.png
/week2/Mask2Former/color_good.png
/week2/Mask2Former/ground_truth.txt
/week2/Mask2Former/gt.png
/week2/Mask2Former/horizon_1_loss.png
/week2/Mask2Former/horizon_2_loss.png
/week2/Mask2Former/horizon_bad.png
/week2/Mask2Former/horizon_3_loss.png
/week2/Mask2Former/horizon_better
/week2/Mask2Former/horizon_better.png
/week2/Mask2Former/horizon_good.png
/week2/Mask2Former/inference
/week2/Mask2Former/inference.png
/week2/Mask2Former/kitti_mots_coco.json
/week2/Mask2Former/kitti_mots_coco_fixed.json
/week2/Mask2Former/no_aug_1_loss.png
/week2/Mask2Former/no_aug_2_loss.png
/week2/Mask2Former/noaug_good.png
/week2/Mask2Former/predictions.txt
/week2/Mask2Former/predictions_coco.json
/data/
